@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300&family=Spectral+SC:wght@700&display=swap');


*
{
    font-family: 'Open Sans', sans-serif;
}

h1
{
    font-size: 50px;
    font-weight: 700;

}

h2
{
    font-size: 21px;
    font-weight: 700;

}

h3
{
    font-size: 12px;
    font-weight: 700; 

}

p
{
    font-size: 14px;
    font-weight: 400; 

}

.weight-bold
{
    font-weight: 700; 
}


body
{
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
}

header
{
    display: flex;
    flex-direction: column;
}

.size-14
{
    font-size: 14px;
}

.flex-column
{
    display: flex;
    flex-direction: column;
}

.flex-row
{
    display: flex;
    flex-direction: row;
}

.AboutUs
{
    width: 1600px;
}

.AboutUs_Info
{
    justify-content: space-around;
    background: #4a657d;
    align-items: center;
    flex-basis: 100%;
   
}


.color-bluergray
{
    color: #4a657d;
}

.color-white
{
    color: white;
}

.AboutUs_Info_LeftContainer
{
    align-items: center;
    gap: 16px;
    margin-right: 16px;
}

.AboutUs_Info_RightContainer
{
    align-items: center;
    gap: 16px;
}

.BlueButtont
{
    display: flex;
    background: #1988e4;
    height: 100%;
    padding: 0px 38px;
    text-transform: uppercase;
    width: 150px;
    align-items: center;
    justify-content: center;
    
}

.BlueButtont h3
{
    font-size: 14px;
}

.border-gray
{
    padding-left: 16px;
    border-left: 1.5px solid rgb(173, 173, 173,.7); 
}

.AboutUs_Logo
{
    height: 101px;
    justify-content: space-around;

}

.AboutUs_Logo img
{
    object-fit: contain;
    animation: anim2;
    animation-duration: 2s;
}

.AboutUs_Logo nav
{
    gap: 40px;
    align-items: center;
}

.AboutUs_Logo nav p
{
    font-weight: 700;
    text-transform: uppercase;
}


.AboutUs_Slider
{
    position: relative;
    z-index: 0;
}
.SliderImg img
{
    height: 951px;
    width: 1600px;
    object-fit: cover;
}

.prew, .next
{
    display: flex;
    top: 40%;
    position: absolute;
    cursor: pointer;  
    background: #1988e4;
    height: 62px;
    width: 71px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}


.next
{
    right: 0;
}

.prew a, .next a
{
    font-size: 20px;
}


.bg-whiteblue
{
    background: #1988e4;
}

.color-whiteblue
{
    color: #1988e4;
}

.AboutUs_Slider_Text
{
    position: absolute;
    text-align: center;
    z-index: 2;
    top: 30%;
    left: 18.1%;
    gap: 36px;
    align-items: center;
}

.AboutUs_Slider_Text h1, .AboutUs_Slider_Text p
{
    text-transform: uppercase;
    margin: 0 0;
}

.Consulting 
{
    margin-top: 100px;
    gap: 100px;
}



.size-36
{
    font-size: 36px;
}


.Consulting_text
{
    gap: 40px;
    margin-top: 120px;
}


.Consulting_text h2
{
    margin: 0;
    font-size: 36px;
    text-transform: uppercase;
}


.Consulting_text p
{
    margin: 0;
    line-height: 2; 
}

.Consulting_text .BlueButtont
{
    height: 50px;
    display: flex;
    justify-content: center;
}


.ConsultingService
{

    margin-top: 99px;

}

.ConsultingService_Title
{
    text-align: center;
    align-items: center;
}


.ConsultingService_Title h2, .ConsultingService_Title p
{
    margin: 0 0 30px 0;
}

.ConsultingService_Title h2
{
    text-transform: uppercase;
}

.ConsultingService_Title p
{
    width: 33%;
    line-height: 1.7;
}

.ConsultingService_Inf
{
    justify-content: center;
    align-items: center;
}

.ConsultingService_Inf_GreyBlock
{
    background: #eceff2;
    width: 350px;
    height: 396px;
    align-items: center;
    gap: 25px;
    text-align: center;
    justify-content: center;
    padding: 0 20px;
}

.ConsultingService_Inf_GreyBlock .size-14, .ConsultingService_Inf_BlueBlock .size-14
{
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
}

.ConsultingService_Inf_GreyBlock p, .ConsultingService_Inf_BlueBlock p
{
    margin: 0;
}

.ConsultingService_Inf_BlueBlock
{
    width: 410px;
    height: 467px;
    align-items: center;
    gap: 27px;
    text-align: center;
    justify-content: center;
    padding: 0 20px;
}


.ConsultingService_Inf_BlueBlock .BlueButtont, .ConsultingService_Inf_GreyBlock .BlueButtont
{
    width: 108px;
    height: 60px;
}


.ConsultingService_Inf_BlueBlock .BlueButtont
{
    background: white;
}

.PractiseAreas
{
    margin-top: 99px;
}


.PractiseAreas_Carusel_El
{
    text-align: left;
    gap: 10px;
    width: 255px;
}

.PractiseAreas_Carusel_El img
{
    width: 255px;
    height: 166px;
}

.PractiseAreas_Carusel_El h3
{
    margin: 0;
    text-transform: uppercase;

}

.PractiseAreas_Carusel_El p
{
    margin: 0;
    line-height: 1.7;
}

.PractiseAreas_Carusel
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.PractiseAreas_WhyChuseUs 
{
    margin-top: 99px;
    background: url(img/bg.png) no-repeat;
    height: 410px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}


.PractiseAreas_WhyChuseUs_Numbers
{
    display: flex;
    justify-content: center;
    gap: 144px;
}

.PractiseAreas_WhyChuseUs_Numbers_Universal
{
    display: flex;
    align-items: center;
    gap: 25px;
}

.PractiseAreas_WhyChuseUs_Numbers_Universal h3, .PractiseAreas_WhyChuseUs_Numbers_Universal h1
{
    text-transform: uppercase;
    margin: 0;
}

.Portfolio
{
    margin-top: 99px;
}

.Portfolio .ConsultingService_Title
{
    margin-bottom: 62px;
}

.Portfolio_Photo
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/bg1.png) no-repeat;
    background-position: center bottom;
    width: 1600px;
    height: 560px;
}

.Portfolio_Photo_Menu
{
    margin-bottom: 52px;
    text-transform: uppercase;
    gap: 50px;
}

.Portfolio_Photo_Menu h3:hover
{
    color: #1988e4;
    cursor: pointer;
}

.Portfolio_Photo_Img img
{
    width: 399px;
    height: 300px;
}

.Portfolio_Person_Stroke
{
    justify-content: center;
    gap: 31px;
}

.Portfolio_Person_Stroke_El img
{
    width: 255px;
    height: 306px;
}

.Portfolio_Person_Stroke_El
{
    width: 255px;
    text-align: left;
    gap: 25px;
}

.Portfolio_Person_Stroke_El div
{
    text-transform: uppercase;
    gap: 13px;
}

.Portfolio_Person_Stroke_El h3, .Portfolio_Person_Stroke_El p
{
    margin: 0;
}

.Portfolio_Person_Stroke_El p
{
    line-height: 1.7;
}

.Portfolio_Person
{
    margin-top: 99px;
}

.Futter
{
    margin-top: 99px;
    background: #4a657d;
    width: 100%;
    height: 50px;
}

@keyframes anim1
{
    from
    {
        opacity: .5;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes anim2
{
    0%
    {
        opacity: 0;      
    }
    50%
    {
        opacity: .5;      
    }
    100%
    {
        opacity: 1;
    }

}

.SliderImg
{
    animation: anim1;
    animation-duration: 2s;
}